includes:
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-phpunit/rules.neon
    - ../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../vendor/bnf/phpstan-psr-container/extension.neon
    - ../vendor/shipmonk/phpstan-rules/rules.neon
    - ../vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - ../vendor/voku/phpstan-rules/rules.neon
parameters:
	level: 8
	paths:
		- ../modules
		- ../test
		- ../bin
	checkImplicitMixed: true
	checkUninitializedProperties: true
	reportAlwaysTrueInLastCondition: true
	shipmonkRules:
	    allowNamedArgumentOnlyInAttributes:
	        enabled: false
	    forbidFetchOnMixed:
	        enabled: false
	    forbidUselessNullableReturn:
	        enabled: false
	voku:
	    checkForAssignments: true

